.bg-color{
    background-color: rgba(91, 101, 148, 0.541)
}

.list-group{
    --bs-list-group-bg:trasparent;
}

i.fa-brands.fa-github.text-white:hover{
    --bs-text-opacity: 1;
    color: gray !important;
}

i.fa-brands.fa-twitter.text-white:hover{
    --bs-text-opacity: 1;
    color: skyblue !important;
}
    
i.fa-brands.fa-instagram.text-white:hover{
    --bs-text-opacity: 1;
    color: palevioletred !important;
}

section.banner{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.9)), 
    url(../imagenes/banner.jpg);
    height: 100vh;
    width: 100%;
    position: relative;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -msn-background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
}

h1.intro{
    padding-top: 15%;
    font-size: 1.5rem;
}

h2.intro{
    font-size: 5rem;
}

h3.intro{
    font-size: 3rem;
}

footer.bg-black{
    width: 100%;
    height: 100%;
    padding: 1rem;
}