body{
  background-color: #bd85b1ec;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.list-group{
    --bs-list-group-bg: trasparent;
}

i.fa-brands.fa-github.fa-xl.text-white:hover{
    color: hsl(0, 0%, 100%) !important;
}

i.fa-brands.fa-twitter.fa-xl.text-white:hover{
    color: #87ceeb !important;
}
    
i.fa-brands.fa-instagram.fa-xl.text-white:hover{
    color: #d87093 !important;
}

i.fa-solid.fa-xl.fa-user-lock:hover{
    color: hsl(244, 77%, 59%) !important;
}

i.fa-regular.fa-xl.fa-user:hover{
    color: hsl(244, 77%, 59%)
}

.container.text-center{
    margin-top: 2rem;

}

section.banner{
    margin: auto;
    background-repeat: no-repeat;
    background-size: 100%;
}

footer.bg-black{
    width: 100%;
    height: 100%;
    padding: 1rem;
}

body.Dashboard{
    background-color: #ffffff;
}

section.Dashboard{
    height: 100%;
    margin-top: 2rem;
    background-size: 100%;
    background-color: #fff;
}

.btn.btn-primary{
    border: 0px;
    background-color: #bd85b1ec;
}

.btn.btn-primary:hover{
    color: #ec92b0;
    box-shadow: rgb(206, 173, 173);
}

.list-group-item:hover{
    background-color: #bd85b1ec;
    color: #f5e6ea;
    box-shadow: rgb(202, 122, 202);
}

