body{
  background-color: #daa6c7ec;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/*Redes*/
.list-group{
    --bs-list-group-bg: trasparent;
    align-items: center;
}

i.fa-brands.fa-github.fa-xl.text-white:hover{
    color: hsl(0, 2%, 36%) !important;
}

i.fa-brands.fa-twitter.fa-xl.text-white:hover{
    color: #87ceeb !important;
}
    
i.fa-brands.fa-instagram.fa-xl.text-white:hover{
    color: #d87093 !important;
}

i.fa-solid.fa-xl.fa-user-lock:hover{
    color: hsl(244, 92%, 28%) !important;
}

.container.text-center{
    margin-top: 2rem;
}

.mt-5.title{
    padding: 20px;
}

h1, h3{
    display: inline;
}
/*Banner*/
.banner{
    margin: auto;
    background-repeat: no-repeat;
    background-size: 100%;
}
/*Foto de perfil*/
.perfil{
    height: auto;
    width: 15rem;
    margin-top: -8.5rem;
}

.progress{
    width: 45%;
    margin: 0 auto;
}

.row{
    height: auto;
    justify-content: center;
    align-items: center;
}

.container{
    width: auto;
}
/*Proyectos*/
.parte1,.parte2{
    display: inline-block;
    text-align: justify;
}

.img-proyecto{
    margin-top: auto;
    height: 50%;
    box-shadow: 10px 10px 5px #000000;
    box-shadow: ejeX ejeY difumasion color;
}

.footer{
    width: 100%;
    height: 100%;
    padding: 1rem;
}

